<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="Person" type="com.cheonghyun.example.mybatis.vo.Person"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <!-- CREATE USER 'mybatis'@'localhost' IDENTIFIED BY 'password' -->
                <!-- GRANT ALL PRIVILEGES ON mybatis.persons TO 'mybatis'@'localhost' -->
                <property name="username" value="mybatis"/>
                <property name="password" value="password"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="Person.xml"/>
    </mappers>
</configuration>